<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="text-center">
          
            <h1 class="mt-4">Your Profile</h1>
            <p class="lead mb-3">Welcome <%= user.name %></p>

            <h3>What is your mood today?</h3>

            <a href="#" class="btn btn-info btn-block">Happy</a>
            <a href="#" class="btn btn-info btn-block">Sad</a>
            <a href="#" class="btn btn-info btn-block">Angry</a>
            <a href="#" class="btn btn-info btn-block">Bad Boy</a>

            <a href="/users/logout" class="btn btn-info">Logout</a>
        </div>
    </div>

    